/* @theme: default; */

.cookie-banner-view {
    max-width: $cookie-banner-view-max-width;
    margin-inline: $cookie-banner-view-margin-inline;
    position: $cookie-banner-view-position;
    background-color: $cookie-banner-view-background-color;
    bottom: $cookie-banner-view-bottom;
    left: $cookie-banner-view-left;
    right: $cookie-banner-view-right;
    padding: $cookie-banner-view-inner-offset;
    z-index: $cookie-banner-view-z-index;
    transition: $cookie-banner-view-transition;
    transform: $cookie-banner-view-transform;
    border-radius: $cookie-banner-view-border-radius;

    &.show {
        transform: $cookie-banner-view-show-transform;
    }

    &__inner-container {
        max-width: $cookie-banner-view-inner-container-max-width;
        display: $cookie-banner-view-inner-container-display;
        align-items: $cookie-banner-view-inner-container-align-items;
        justify-content: $cookie-banner-view-inner-container-justify-content;
    }

    &__content {
        text-align: $cookie-banner-view-content-text-align;
        color: $cookie-banner-view-content-color;
    }

    &__title {
        padding: $cookie-banner-view-title-padding;
    }

    &__description {
        display: $cookie-banner-view-description-display;
        align-items: $cookie-banner-view-description-align-items;
    }

    &__text {
        color: $cookie-banner-view-text-color;
    }

    &__actions {
        margin: $cookie-banner-view-actions-offset;
    }

    .close-dialog {
        --close-dialog-offset: #{spacing('base')};
    }
}

@include breakpoint('mobile') {
    .cookie-banner-view {
        --close-dialog-offset: #{$cookie-banner-view-close-mobile-offset};

        padding: $cookie-banner-view-mobile-padding;

        &__title {
            padding-bottom: $cookie-banner-view-title-mobile-padding-bottom;
        }

        &__description {
            flex-direction: $cookie-banner-view-description-mobile-flex-direction;
        }

        &__actions {
            width: $cookie-banner-view-actions-mobile-width;
            margin: $cookie-banner-view-actions-mobile-margin;

            .btn {
                width: $cookie-banner-view-button-mobile-width;
            }
        }
    }
}
