<% let oroui = _.macros('oroui') %>
<div class="cookie-banner-view__inner-container" data-skip-focus-decoration tabindex="0">
    <div class="cookie-banner-view__content cms-typography">
        <h4 class="cookie-banner-view__title"><%= bannerTitle %></h4>
        <div class="cookie-banner-view__description">
            <span class="cookie-banner-view__text">
                <%= bannerText %>
                <% if (!_.isEmpty(landingPageHref) && !_.isEmpty(landingPageLabel)) { %>
                    <a class="inverse" href="<%- landingPageHref %>">
                        <%- landingPageLabel %>
                    </a>
                <% } %>
            </span>
            <div class="cookie-banner-view__actions">
                <button data-action="accept" class="btn btn--inverse text-nowrap" aria-label="<%- _.__('oro_cookie_banner.accept_button.aria_label') %>">
                    <%= oroui.renderIcon({name: 'check', extraClass: 'theme-icon--medium'}) %>
                    <%- bannerButtonLabel %>
                </button>
            </div>
        </div>
    </div>
</div>
<button class="btn btn--simple-colored-inverse close-dialog absolute" data-role="close" title="<%- _.__('Close') %>" aria-label="<%- _.__('oro_cookie_banner.close.aria_label') %>">
    <%= oroui.renderIcon({name: 'close', extraClass: 'theme-icon--medium'}) %>
</button>
